@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.App{
 background-color: rgb(193, 214, 214);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.top-navlink {
 
  background-color:rgb(233, 236, 144);
  width: 100%;
 text-align: center;
 
 }
 li{
  display: flex;
  /* background-color: skyblue; */
 
  padding: 5px;
  margin: 1px;  
 
 }
 .footercomponent{
  
  margin: 1%;
  width: 100%;
  text-align: center;
  background-color: skyblue;

 }
 .inputbox{
 margin-top: 3%;
 margin-left: 30%;
 
}

 .inputfield{
  margin-bottom: 2%;

 }

 .textset{
  display: flex;
  justify-content: end;
 }

 .logo{
  margin: 2px;
 border-radius: 50%;
  width: 80px;
  height: 60px; 
 
 }

 .waringmessage{
  color: red;
  display: flex;
  margin-top: -15px;

 }

 .pruductlist tr th {
  justify-content: center;
  text-align: center;
  border: 3px solid rgb(255, 89, 0);
  padding: 5px;
  
  background-color: aqua;
 }

 .headername{
  background-color: chocolate;
  color: #fff;
  font-size: 2rem;
 }
 .navlinkstyle{
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
text-align: center;
  margin: 5px;
  background-color: navy;
  border-radius: 5px;
  color: #fff;
 }
 .navlinkstyle:hover{
  background-color: blueviolet;
  text-decoration:overline;

 }
 .logoutstyle{
  position: absolute;
  right: 0;
 }

 .navlinkupdate{
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  margin: 5px;
  background-color: rgb(235, 188, 18);
  border-radius: 5px;
  color: #fff;
 }

 .studentlist tr th {

  border: 1px solid rgb(58, 77, 34);
  gap: 10px;
  width: auto;
  margin: 1%;
  background-color: aqua;
 }
.student-form-style{
  padding: 5%;
  padding-right: 5%;
  background-color: rgb(179, 215, 117);
  
 
  border: 2px solid red;
}

.table-header{
  color: red;
  font-size: 1.1rem;
 
}