.navlink {
  display: flex;
  background-color: rgb(43, 190, 213);
  width: 100%;
  text-decoration: none;
  color: red;
  border-bottom: none;
 }
 li{
  display: flex;
  background-color: rgb(207, 212, 56);
  padding: 2px;
  margin: 10px;  
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: none;
 }
 .footercomponent{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(43, 190, 213);

 }
 .inputbox{
 margin-top: 3%;
 margin-left: 30%;
 
}

 .inputfield{
  margin-bottom: 2%;

 }

 .textset{
  justify-content: end;
 }
 .logo{
 border-radius: 50%;
  width: 60px;
  height: 50px; 
 
 }

 .waringmessage{
  color: red;
  display: flex;
  margin-top: -15px;

 }

 .pruductlist tr th {
  justify-content: center;
  text-align: center;
  border: 3px solid rgb(255, 89, 0);
  padding: 5px;
  
  background-color: aqua;
 }

 .headername{
  background-color: chocolate;
  color: #fff;
  font-size: 2rem;
 }