
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.navlink {
 
  background-color:skyblue;
  width: 100%;
 
 }
 li{
  display: flex;
  background-color: skyblue;
 
  padding: 1px;
  margin: 5px;  
 
 }
 .footercomponent{
  margin: 1%;
  text-align: center;
  background-color: skyblue;

 }
 .inputbox{
 margin-top: 3%;
 margin-left: 30%;
 
}

 .inputfield{
  margin-bottom: 2%;

 }

 .textset{
  justify-content: end;
 }

 .logo{
  margin: 2px;
 border-radius: 50%;
  width: 80px;
  height: 60px; 
 
 }

 .waringmessage{
  color: red;
  display: flex;
  margin-top: -15px;

 }

 .pruductlist tr th {
  justify-content: center;
  text-align: center;
  border: 3px solid rgb(255, 89, 0);
  padding: 5px;
  
  background-color: aqua;
 }

 .headername{
  background-color: chocolate;
  color: #fff;
  font-size: 2rem;
 }
 .navlinkstyle{
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
text-align: center;
  margin: 5px;
  background-color: navy;
  border-radius: 5px;
  color: #fff;
 }
 .navlinkstyle:hover{
  background-color: blueviolet;
  text-decoration:overline;

 }
 .logoutstyle{
  position: absolute;
  right: 0;
 }

 .navlinkupdate{
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
  text-align: center;
  margin: 5px;
  background-color: rgb(235, 188, 18);
  border-radius: 5px;
  color: #fff;
 }